* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color: #1B1B1B;
}
header
{
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
._container
{
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 21px 0;
    display: flex;
    justify-content: space-between;
}
.header__mid a
{
    margin-left: 20px;
}
.header__services a
{
    margin-left: 30px;
}