@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Stix';
    src: url('./assets/fonts/STIXTwoText-Medium.ttf');
}
@font-face {
    font-family: 'Stix';
    src: url('./assets/fonts/STIXTwoText-Regular.ttf');
}
* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::after,*::before
{
    content: '';
    position: absolute;
}
button
{
    cursor: pointer;
}
:root
{
    --red: #DA4533;
    --grey: #8A8A8A;
}
body
{
    background-color: #1B1B1B;
}
header
{
    font-family: 'Montserrat';
    font-weight: 500;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
._container
{
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 21px 0;
    display: flex;
    justify-content: space-between;
}
.header__mid 
{
    display: flex;
    gap: 20px;
}
.header__mid a
{
    transition: .3s ease;
    text-decoration: none;
    color: white;
}
.header__mid a:nth-child(2)
{
    color: var(--red);
}
.header__services 
{
    display: flex;
    gap: 30px;
}
.header__services a
{
    text-decoration: none;
    color: white;
    transition: .3s ease;
}
.header__services a:hover, .header__mid a:hover
{
    color: rgb(119, 111, 111);
}
.main__screen-one
{
    margin: 100px auto;
}
.main__screen-one ._container
{
    align-items: flex-start;
}
._screen-one__text h3
{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    color: var(--grey);
    margin-bottom: 8px;
}
._screen-one__text h2
{
    position: relative;
    font-family: 'Stix';
    font-weight: 500;
    margin-bottom: 16px;
    line-height: 74px;
    font-size: 55px;
    color: white;
}
._screen-one__text h2::before
{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./assets/svg/Point.svg');
    height: 15px;
    width: 15px;
    left: -2%;
    top: 8%; 
}
._screen-one__text h2::after
{
    background-image: url('./assets/svg/Pointer2.svg');
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 25%;
}
._screen-one__text p
{
    line-height: 28px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    color: var(--grey);
    margin-bottom: 50px;
    width: 78%;
}
._screen-one__text__buttons
{
    display: flex;
    gap: 42px;
}
._screen-one__text__buttons button
{
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 26px;
    width: 45%;
    font-size: 16px;
    color: white;
    background-color: var(--red);
    border: none;
    border-radius: 100%;
    padding: 24px 20px;
    transition: .6s ease;
}
._screen-one__text__buttons button:nth-child(2)
{
    position: relative;
    color: var(--red);
    background: none;
    width: auto;
    border-radius: 100%;
    padding: auto;
    border: 1px solid var(--red);
}
._screen-one__text__buttons button:nth-child(2)::after
{
    bottom: 45%;
    right: -15px;
    width: 30px;
    height: 8px;
    background-image: url('./assets/svg/_sreen-one__button__arrow.svg');
}
._screen-one__img
{
    top: -80px;
    position: relative;
    right: 0;
    width: 545px;
    height: 514px;
}
._screen-one__text__buttons button:hover
{
    background-color: #611d16;
}
._screen-one__text__buttons button:nth-child(2):hover
{
    background-color: rgb(5, 5, 5);
}
.main__screen-two ._container
{
    align-items: flex-start;
    gap: 50px;
}
.screen-two__statistic h2:not(.container__boxes h2)
{
    font-size: 38px;
    font-weight: 400;
    color: white;
    font-family: 'Stix';
    margin-bottom: 16px;
}
.screen-two__statistic p:not(.container__boxes p)
{
    font-family: 'Montserrat';
    font-weight: 500;
    color: var(--grey);
    margin-bottom: 50px;
    line-height: 25px;
}
.container__boxes
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: auto;
    gap: 30px;
    margin-bottom: 100px;
}
.container__boxes .container__box
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: -5px -2px 2px var(--red),
    inset 0px 0px 8px rgba(206, 204, 204, 0.05);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    transition: .6s ease;
}
.container__boxes .container__box:hover
{
    box-shadow: -8px 5px 5px var(--red);
    transform: translate(2px, -2px);
}
.container__boxes .container__box h2
{
    font-size: 36px;
    font-family: 'Stix';
    font-weight: 500;
    color: white;
}
.container__boxes .container__box p
{
    width: 75%;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    color: var(--grey);
}
.screen-two__statistic p:not(.container__boxes p):last-child
{
    width: 92%;
}
.container__boxes .container__box__logo
{
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    opacity: .6;
}